.container {
  height: 100vh;
  width: 100vw;
}
.header {
  background-color: white;
}
.brand {
  font-size: 2.3rem;
  padding: 10;
}
.menu {
  display: flex;
  align-items: center;
}
.content {
  padding: 30px;
}
